@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url("./assets/header-bg.png");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-back {
  background-image: url("./assets/spinner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-back2 {
  background-image: url("./assets/hero2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-back3 {
  background-image: url("./assets/hero3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet-active {
  background: #49DE80 !important;
}
.swiper-pagination-bullet {
  border: 1.5px solid white !important;
  scale: 2.0;
}

.swiper-pagination-bullets
{
    display: flex !important;
    align-items: center !important;
    padding-bottom: 3rem !important;
    justify-content: center !important;
    gap: 1rem !important;
}

*{
  scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.priorities {
  background-image: url("./assets/turizm-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.time{
  background-image: url("./assets/numbers-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.travels {
  background-image: url("./assets/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
}

.swiper-button-prev, .swiper-button-next{
  color: red !important;
  font-weight: 800;
}